// 颜色定义规范
$color-background = #eee
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #fff
$color-dialog-background = #666
$color-theme = #ffcd32   //
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.8)
$color-text-ll = rgba(255, 255, 255, 0.8)
// 自定义
$color-text-name = #222
$color-text-desc = #00000080
$color-main = #cc3e3d
$color-tab-background = #cc3e3d
$color-tab-active = #fff
$color-recommend-title-background = #fff
$color-recommend-background = #eee
$color-recommend-item-bacnground = #fff
$color-recommend-name = #111
$color-recommend-desc = #00000080
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
